@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s ease-out;
}
body {
  background: linear-gradient(#031c4e, #4267b2);
}
nav {
  position: fixed;
  background: #002;
  width: 100%;
  padding: 5px;
  box-shadow: 2px 2px 3px #2ecc71;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}
nav i {
  font-size: 25px;
}
nav h2 {
  background: #002;
}
.hero-container {
  background: url("beautiful_scenery_forest_view_under_yellow_blue_cloudy_sky_hd_forest.jpg")
    no-repeat;
  height: 100vh;
  width: 100%;
  /* max-width: 1200px; */
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.hero-container .article {
  width: 100%;
  padding-top: 10rem;
  text-align: center;
  color: #fff;
}
.article h3 {
  font-size: 2rem;
  color: #20dcb0;
}
.article article {
  padding: 1rem;
  color: rgb(1, 211, 211);
}
.btn input {
  height: 2rem;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

.contact-us {
  width: 50rem;
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

form {
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

form button {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  font-weight: bold;
}
form button:hover {
  color: #fff;
  background: #25d366;
}

.skills-container {
  width: 100%;
  max-width: 1200px;
  margin: 4rem auto;
}
.skills-container header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.skills-container header h4 {
  color: aliceblue;
}
.skills-list {
  display: flex;
  justify-content: center;
  width: 100%;
  /* gap: 1rem; */
  flex-wrap: wrap;
}
.skills-list span {
  display: inline-block;
  width: 8rem;
  text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 10px;
  color: rgb(207, 212, 218);
}

.project h4 {
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
}
.project .image {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin: auto;
}
.project .image a {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.project .image a img {
  display: inline-block;
  align-items: center;
  width: 100%;
  max-width: 1020px;
  padding: 1rem;
}
/* checklist */

footer {
  /* padding: 0.5rem 1rem; */
  margin-top: 2rem;
  background: linear-gradient(#3c5992, #061635);
}

.footer-header-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.1rem 1rem;
  background: linear-gradient(#031c4e, #4267b2);
  width: 100%;
}

.footer-header {
  color: snow;
}
.footer-header h2 {
  background: linear-gradient(45deg, #fffff8, #04e046, #f90320);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.social-icons {
  display: flex;
  gap: 8px;
  /* border: 2px solid red; */
}
.social-icons a {
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}
.social-icons a:nth-child(1) {
  background: #4267b2;
}
.social-icons a:nth-child(1):hover {
  color: #4267b2;
  background-color: #ffffff;
}
.social-icons a:nth-child(2) {
  background: #1da1f2;
}
.social-icons a:nth-child(2):hover {
  color: #1da1f2;
  background-color: #ffffff;
}
.social-icons a:nth-child(3) {
  background: #e1306c;
}
.social-icons a:nth-child(3):hover {
  color: #e1306c;
  background-color: #ffffff;
}
.social-icons a:nth-child(4) {
  background: #007785;
}
.social-icons a:nth-child(4):hover {
  color: #007785;
  background-color: #ffffff;
}
.social-icons a:nth-child(5) {
  background: #ff0000;
}
.social-icons a:nth-child(5):hover {
  color: #ff0000;
  background-color: #ffffff;
}
.company-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem;
  margin-top: 3rem;
  padding: 0.5rem 1rem;
}

.company-container ul h4 {
  margin-bottom: 0.8rem;
  text-transform: capitalize;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

ul li {
  list-style: none;
  color: rgb(218, 234, 248);
  transition: all 0.2s ease-out;
}

.company-container ul li:not(:last-child) {
  margin-bottom: 8px;
}
hr {
  /* border: 2px solid red; */
  margin-right: 0.5rem;
  margin-bottom: 10px;
  color: red;
}
ul li a {
  text-decoration: none;
  color: aliceblue;
}

ul li i {
  padding: 3px;
  border-radius: 5px;
}
ul li .mylocation {
  color: rgb(224, 45, 45);
  background: #1e1e1e;
  padding: 5px;
}
ul li .mymessage {
  color: #007bff;
  background: #e0f7ff;
  border-radius: 5px;
}
ul li .myfone {
  background: #28a745;
  color: #fff;
}
ul li .whatsapp {
  color: #fff;
  background: #25d366;
}
ul li:hover {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
.copy-closure-sect {
  font-size: 14px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: #ccc;
}

.copy-closure-sect .copyright-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closure {
  text-align: center;
  margin-top: 0.5rem;
}

@media (max-width: 480px) {
  form {
    padding: 0 0.5rem;
    width: 100%;
  }
  .contact-us {
    width: 100%;
    margin-bottom: 0.8rem;
  }

  form button {
    width: 80%;
    padding: 0.6rem;
    font-size: 18px;
  }
  .skills-container {
    width: 100%;
  }
  .skills-list {
    width: 100%;
  }
  .company-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .footer-header {
    font-size: 0.7rem;
  }
}

@media (max-width: 760px) {
  form {
    padding: 0 0.5rem;
    width: 100%;
  }
  .contact-us {
    width: 100%;
    margin-bottom: 0.8rem;
  }

  form button {
    width: 80%;
    padding: 0.6rem;
    font-size: 18px;
  }
  .skills-container {
    width: 100%;
  }
  .skills-list {
    width: 100%;
  }
  .social-icons a {
    padding: 2px;
  }
  .social-icons a:nth-child(1) {
    /* background: #fff; */
    background: #4267b2;
  }
}
